{% extends 'app/base.html' %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>SELF ASSESSMENT FORM</h2>
        </div>
        <form action="" method="post">
            <!-- Business Objectives Card Start -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header bg-orange">
                            <h2>
                                Business Objectives 
                                <small>Please elaborate against Business Objective...</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="javascript:showme($(this));" class=" waves-effect waves-block">Show</a></li>
                                        <li><a href="#" onclick="javascript:collapseme($(this));" class=" waves-effect waves-block">Collapse</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body" style="padding-bottom:0px;">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="form-line">
                                            <b class="bg-lightest-green" style="padding:10px;display:block;color:#000 !important">
                                                1. Did you exceed expectations, at the level expected of the employee or did above expectations?
                                            </b>
                                            <textarea id="pip" rows="4" class="form-control no-resize" placeholder="Please type what you want..." name="pip"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="form-line">
                                            <b class="bg-lightest-green" style="padding:10px;display:block;color:#000 !important">
                                                2. What achievements (if any) exceeded your expectations?
                                            </b>
                                            <textarea id="pip" rows="4" class="form-control no-resize" placeholder="Please type what you want..." name="pip"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="form-line">
                                            <b class="bg-lightest-green" style="padding:10px;display:block;color:#000 !important">
                                                3. What are some examples (if any) of performance below expectations?
                                            </b>
                                            <textarea id="pip" rows="4" class="form-control no-resize" placeholder="Please type what you want..." name="pip"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Business Objectives Card End -->

            <!-- Job Accountabilities Card Start -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card" style="margin-bottom:18px;">
                        <div class="header bg-orange">
                            <h2>
                                Job Accountabilities
                                <small>Please rate yourself on performance against the essential functions of your role...</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" onclick="javascript:showme($(this));" class=" waves-effect waves-block">Show</a></li>
                                        <li><a href="#" onclick="javascript:collapseme($(this));" class=" waves-effect waves-block">Collapse</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body" style="padding-bottom:0px;">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="form-line">
                                            <b class="bg-lightest-green" style="padding:10px;display:block;color:#000 !important">
                                                1. Did you hold the respect and confidence of his/her associates?
                                            </b>
                                            <textarea id="pip" rows="4" class="form-control no-resize" placeholder="Please type what you want..." name="pip"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="form-line">
                                            <b class="bg-lightest-green" style="padding:10px;display:block;color:#000 !important">
                                                2. Did you demonstrate the ability to make decisions and minimize the inherent risk?
                                            </b>
                                            <textarea id="pip" rows="4" class="form-control no-resize" placeholder="Please type what you want..." name="pip"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="form-line">
                                            <b class="bg-lightest-green" style="padding:10px;display:block;color:#000 !important">
                                                3. Did you demonstrate the ability to establish a course of action that will achieve the desired outcome?
                                            </b>
                                            <textarea id="pip" rows="4" class="form-control no-resize" placeholder="Please type what you want..." name="pip"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="form-line">
                                            <b class="bg-lightest-green" style="padding:10px;display:block;color:#000 !important">
                                                4. Did you effectively recognize and develop others?
                                            </b>
                                            <textarea id="pip" rows="4" class="form-control no-resize" placeholder="Please type what you want..." name="pip"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="form-line">
                                            <b class="bg-lightest-green" style="padding:10px;display:block;color:#000 !important">
                                                5. Did you effectively delegate authority and proper placement of responsibilities?
                                            </b>
                                            <textarea id="pip" rows="4" class="form-control no-resize" placeholder="Please type what you want..." name="pip"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="form-line">
                                            <b class="bg-lightest-green" style="padding:10px;display:block;color:#000 !important">
                                                6. Has the direct report’s team improved or declined overall under your leadership?
                                            </b>
                                            <textarea id="pip" rows="4" class="form-control no-resize" placeholder="Please type what you want..." name="pip"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <!-- Job Accountabilities Card End -->

            <div class="row clearfix">
                <input type="submit" value="SUBMIT" class="btn btn-success waves-effect pull-right" style="margin-right:15px;">
                <input type="reset" value="RESET" class="btn bg-blue waves-effect pull-right" style="margin-right:10px;">
            </div>

        </form>
    </div>
</section>


<script>

    $(".card > .body").hide();

    function showme(elem){
        var parent = $(elem).closest(".card");
        $(parent).find(".body").show();
        return false;
    }

    function collapseme(elem){
        var parent = $(elem).closest(".card");
        $(parent).find(".body").hide();
        return false;
    }

</script>

{% endblock %}